 .main_tit {
	color: #4d0c0c;
	padding: 15px 0 15px 0;
	width: 95%;
	font-weight: normal;
	margin: 0 auto 10px auto;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(240, 236, 226);
	background-color: rgb(243, 238, 225);
	font-size: 12px;
}
#seko_archive .inner {
	width: 307px;
	margin-left: auto;
	margin-right: auto;
	max-width: 580px;
}


#seko_archive .inner .item{
	max-width: 288px;
	margin-bottom: 15px;
	width: 144px;
	float: left;
	margin-left: 17px;
}

#seko_archive .inner .item.clear_left {
	clear: left;
	margin-left: 0px;
}


#seko_archive .inner .item p.pic {
	width: 144px;
	background-color: #fff;
	height: 108px;
}


#seko_archive .inner .item .pic img {
	max-width: 144px;
	/* [disabled]min-width: 144px; */
	width: auto;
	height: auto;
	max-height: 108px;
}

#seko_archive .inner .item h3,
#seko_archive .inner .item .txt {
	text-align: left;
	font-size: 10px;
	width:98%;
	margin-left:auto;
	margin-right:auto;
}
#seko_archive .inner .item h3 a {
	color: #0767bb;
}
#seko_archive .inner .item .txt a {
	color: #2B2B2B;
}
#seko_archive .inner .item h3 {
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
}
#seko_archive .inner .item .txt a {
	line-height: 1.5em;
}

/*アーカイブページ　カテゴリー別施工事例ボタン*/
#pageseko_cate {
}
/*ロールオーバー用*/
#pageseko_cate a.hover, #pageseko_cate .inner_l a.hover, #pageseko_cate .inner_r a.hover {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(227, 220, 203);
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
}
#pageseko_cate .pc {
	color: #000000;
	width: 95%;
	padding: 15px 0 15px 0;
	margin: 0 auto 1px auto;
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(227, 220, 203);
	background-image: -moz-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
}
#pageseko_cate .pc img {
	margin-right: 5px;
	margin-bottom: -5px;
}
#pageseko_cate .inner {
	margin-top: 0;
	margin-left: 2.3%;
	margin-bottom: 20px;
	margin-right: 0;
}
#pageseko_cate .inner_l {
	margin-left: 2.3%;
	padding-bottom: 15px;
	width: 47.5%;
	float: left;
}
#pageseko_cate .inner_r {
	padding-bottom: 15px;
	margin-right: 2.3%;
	width: 47.5%;
	float: right;
}
#pageseko_cate .inner_l .btn, #pageseko_cate .inner_r .btn {
	color: #515151;
	text-align: left;
	display: block;
	padding-top: 15px;
	padding-right: 16px;
	padding-left: 7px;
	padding-bottom: 15px;
	margin-bottom: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(227, 220, 203);
	background-image: -moz-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	position: relative;
}
#pageseko_cate .inner .btn.left {
	margin-right: 0.23%;
}
#pageseko_cate .inner_l .btn:before, #pageseko_cate .inner_r .btn:before {
	display: block;
	content: "";
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 51%;
	right: 10px;
	width: 6px;
	height: 6px;
	margin-top: -5px;
	background: #877c5f;
}
#pageseko_cate .inner_l .btn:after, #pageseko_cate .inner_r .btn:after {
	display: block;
	content: "";
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 51%;
	right: 12px;
	width: 6px;
	height: 6px;
	margin-top: -5px;
	background: #a1b91d;
	background-image: -moz-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
}

/*ロールオーバー用*/
#pageseko_cate .inner a.hover {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(227, 220, 203);
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
}

/*施工事例ナビ*/

#nav-below {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 50px;
}
#nav-below .prev.
#nav-below .next {
	height: 30px;
}
#nav-below .prev a,
#nav-below .next a {
	display: block;
	height: 20px;
	width: 70px;
	color: #000000;
	font-size: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(227, 220, 203);
	background-image: -moz-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	padding-top: 15px;
	padding-bottom: 5px;
}
#nav-below .prev {
	float: left;
	text-align: left;
}
#nav-below .next {
	float: right;
	text-align: right;
}

#nav-below .next  a {
	padding-right: 15px;
}

#nav-below .prev  a {
	padding-left: 15px;
}

#nav-below .prev a.hover,
#nav-below .next a.hover {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(227, 220, 203);
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
}
#seko_details {
}
#seko_details h3 {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	color: #0767bb;
	font-style: 14px;
	padding-bottom: 10px;
}
#seko_details #top_area {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
#top_area .pic img {
	max-width: 600px;
	width: 100%;
	height: auto;
}
#seko_details #top_area .txt {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 600px;
	font-size: 10px;
	line-height: 1.5em;
}
#seko_details #t_before {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}
#seko_details #t_before .pic {
	width: 40%;
	float: left;
}

#seko_details .one { width:46%; margin:0 0% 2% 2.5%; float:left; word-break: break-all; text-align:left;}
#seko_details .one .pic { text-align:center; padding:0; margin:0;  margin-bottom:0.5rem;}
#seko_details .one .pic img { width:100%; height:auto;}


#t_before .pic img {
	width: 100%;
	height: auto;
	min-height: 0px;
	max-width: 210px;
}
#seko_details #t_before .txt {
	width: 58%;
	float: right;
	text-align: left;
	font-size: 10px;
	line-height: 1.5em;
}
#seko_details table {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	margin-bottom: 15px;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
#seko_details table tr th {
	text-align: left;
	background-color: #ccc;
	font-weight: normal;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 28%;
}
#seko_details table tr td {
	text-align: left;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	line-height:1.5em;
}
#seko_details #after h4 {
	border-bottom: 2px solid #211807;
	text-align: left;
	padding-bottom: 8px;
	margin-bottom: 5px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
#seko_details #after {

}

#seko_details #after .one { width:46%; margin:0 0 2% 8px!important; float:left; height:140px; }
#seko_details #after .pic {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background:#ddd;
}
#seko_details #after .pic img {
	width:auto;
	height:110px;
}
#seko_details #after .txt {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-size: 10px;
	margin-bottom: 10px;
	line-height: 1.5em;
	max-width: 600px;
}
#seko_details #cust {
	background-color: #faf7f0;
	border-radius: 5px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: left;
	margin-bottom: 10px;
}
#seko_details #cust h4 {
	margin-bottom: 5px;
}
#seko_details #cust p {
	line-height: 1.5em;
	font-size: 10px;
}
#wrap #seko_details #tanto {
	width: 89%;
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 5px;
	border: 3px solid #d6d6d6;
	margin-left: auto;
	margin-right: auto;
}

#seko_details #tanto h4 {
	margin-bottom: 5px;
}
#seko_details #tanto p {
	line-height: 1.5em;
	font-size: 10px;
}

#wrap #seko_details #tanto .img_box { float:left; margin-right:2%; }
#wrap #seko_details #tanto .img_box img { height:auto;}
#nav-below .archive_btn {
	/* [disabled]margin-left: auto; */
	margin-right: auto;
}

#nav-below .archive_btn a {
	text-align: center;
	display: block;
	height: 20px;
	color: #000000;
	font-size: 10px;
	padding-top: 15px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(227, 220, 203);
	background-image: -moz-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(249,247,240) 0%, rgb(255,255,255) 100%);
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}

#nav-below .archive_btn a.hover {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(227, 220, 203);
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(249,247,240) 100%);
}


/*会社概要*/

#company .company_table1 {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border: 1px solid #CCCCCC;
}
#company .company_table1 tr th {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width: 30%;
	border-bottom: 1px solid #CCCCCC;
	vertical-align: top;
}
#company .company_table1 tr td {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	line-height: 1.5em;
	border-bottom: 1px solid #CCCCCC;
}
#company {
	margin-bottom: 20px;
}

/*お問い合わせ*/

#request_area {
	text-align: left;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#request_area dl .cap {
	display:none;
}

#request_area dl  dt {
	font-size: 16px;
	margin-bottom: 6px;
	margin-top: 10px;
	z-index: 1;
}

#request_area dl  dd {
	border-bottom: solid 1px #ccc;
	padding-bottom: 8px;
	margin-bottom: 8px;

}

#request_area dl  dt.check01 {
	background-image: url(http://www.home-arrange.jp/wp-content/themes/reform/page_image/form_icon01.gif);
	padding-left: 55px;
	padding-top: 7px;
	background-repeat: no-repeat;
	background-position: left -12px;
	padding-bottom: 5px;
}
#request_area dl  dt.check02 {
	background-image: url(http://www.home-arrange.jp/wp-content/themes/reform/page_image/form_icon02.gif);
	padding-left: 55px;
	padding-top: 7px;
	background-repeat: no-repeat;
	background-position: left -12px;
	padding-bottom: 5px;
	padding-right: 10px;
}
#request_area dl .line2_dd.mt_0.henshin label {
	width: 100%;
	display:block;
}
#request_area dl .line2_dd.mt_0.henshin .check_m {
	padding-left: 20px;
}

#request_area dl .line2_dd.mt_0.henshin .check_m strong {
	font-weight:normal;
}
#request_area dl .line2_dd.rifotate  label {
	width: 100%;
	display:block;
}

#request_area dl .line2_dd.rifokasyo {
}

#request_area dl .line2_dd.rifokasyo label {
	width: 45%;
	display: inline-block;
	float: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
#request_area #request_form_send {
	text-align: center;
	margin-top:10px;
	margin-bottom:10px;
}
#request_area #request_form_send input {
	width: 100px;
	height: 40px;
}
#request_area dl .line1_dd .name,
#request_area dl .line1_dd .kana,
#request_area dl .line1_dd .add,
#request_area dl .line1_dd .mail {
	width: 95%;
}
#request_area dl .line1_dd .name,
#request_area dl .line1_dd .kana,
#request_area dl .line1_dd .add,
#request_area dl .line1_dd .mail,
#request_area dl .line2_dd .tel,
#request_area dl .line1_dd .zip {
	padding-top: 2px;
	padding-bottom: 8px;
	font-size: 14px;
	height: 14px;
}

#request_area dl .line1_dd .zip {
	width:50%;
}

#request_area .wpcf7-form dl .line2_dd .check_m {
	width: 95%;
}
#wrap .request_comp {
	line-height:1.6em;
}
.request_comp .stit {
	background-color: #F8F6EF;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	margin-bottom: 10px;
}
.request_comp .center {
	text-align:center;
}

#request_area  label  {
	font-size: 16px;
}
#request_area input {
}


#request_area #wpcf7-f18965-o1 .wpcf7-form #request_form_send .wpcf7-form-control.wpcf7-submit.submit_button {
	height: 40px;
}
#top_seko .inner p a .tit {
	color: #0767BB;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
/*===========================会社概要*/
.company_gaiyo_table {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 21px;
}
.company_gaiyo_table tr th {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width: 30%;
	border-bottom: 1px dotted #CEC8AE;
	vertical-align: top;
}
.company_gaiyo_table tr td {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	line-height: 1.5em;
	border-bottom: 1px dotted #CEC8AE;
}
.company_gaiyo_table tr td ul {
	margin-left:20px;
}
.company_gaiyo_table tr td ul li {
	list-style:disc;
}
#company {
	margin-bottom: 20px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}.company_mainimg img {
	width: 94.5%;
	height: auto;
	margin-bottom: 20px;
}
#request_area .request_title {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 0px;
	clear:left;
}


.sp_none { display:none; }
h3.old_style { padding:3% 0 2% 3%; font-size:140%; font-weight:500; color:#333; background:linear-gradient(#fff, #ddd); border:1px solid #ccc; text-align:left; margin-bottom:0.5rem; }


/* 会社案内 */
#sp_style_company { width:94%; margin:0 auto 1rem auto; }
#sp_style_company h2 {
	text-align:left;
	font-size:130%;
	font-weight:500;
	border-bottom:2px solid #660;
	margin-bottom:1rem;
	line-height:1.4rem;
}
.content_history { margin-bottom:1rem; text-align:left; }
.content_history p { line-height:1.3rem; margin-bottom:1rem; }

.content_history img { width:100%; height:auto; margin-bottom:0.5rem; }
#sp_style_company .alignright { float:left; width:30%; height:auto; margin-right:1rem; margin-bottom:0.2rem; }
#sp_style_company .sp_sign { float:right; width:40%; height:auto; }
#sp_style_company .content_history .mb20 { margin-bottom:40px; }

#sp_style_company dl.company { text-align:left; margin-bottom:1rem; }
#sp_style_company dl.company dt { border-bottom:1px dashed #ddd; display:inline-block; width:29%; padding:3% 0; }
#sp_style_company dl.company dd { border-bottom:1px dashed #ddd; display:inline-block; width:64%; padding:3% 0; }

.h_kimeuchi {height:50px; vertical-align:top; }
#sp_style_company p { text-align:left; line-height:1.2rem; }


#sp_style_company table { width:100%; margin-bottom:30px; }
#sp_style_company table td { width:48%!important; text-align:left; line-height:1.2rem; padding:0!important; display:inline-block; margin:0 1%; vertical-align:top; }
#sp_style_company table td img { width:100%; height:auto; }
#sp_style_company iframe { width:100%; }

.event_content { width:100%; margin:0 auto 4% auto; text-align:left; border-bottom:1px dashed #999; padding-bottom:4%; }
.event_content .event_content_left { width:44%; float:left; margin-right:2%; }
.event_content .event_content_left img { width:100%; height:auto;}
.event_content .event_content_right { width:54%; float:left; line-height:1.1rem; }
.event_content .event_content_right h3.event_title { padding:8px 0 8px 9px!important; margin-bottom:3%!important;}

#event_syousai_area { width:96%; margin:0 auto 4% auto; text-align:left; /*border-bottom:1px dashed #999;*/ padding-bottom:4%; }
#event_syousai_area p.pic { width:100%; height:auto; margin:0 0 0.8rem 0;}
#event_syousai_area p.pic img { width:100%; height:auto; }
#event_content01_textarea01 { line-height:1.2rem;}
#event_content01_textarea01_map { width:158px; height:auto; float:right; margin-bottom:3%; }

.event_icon_list { margin-bottom:3%;}
.event_icon_list li { display:inline-block; width:15.6%; margin:0 0.5% 1% 0.5%;}
.event_icon_list li img { width:100%; height:auto; }

#event_syousai_title01 { padding-bottom:0.3rem; border-bottom:1px dashed #630; font-size:130%; margin-bottom:0.8rem;}
.customer_navi_c { text-align:center; }

.customer_navi_c .prev_box { width:23%; float:left; margin:0 0 0 0;}
.customer_navi_c .all_box { width:52%; float:left; margin:0 1%;}
.customer_navi_c .next_box { width:23%; float:left; margin:0 0 0 0; }

.customer_navi_c .page_back_btn01 { /*float:left;*/ padding:10px 5px; border:1px solid #999; margin:0 5px 1rem 9px; }
.customer_navi_c .page_back_btn02 { /*float:left;*/ padding:10px 5px; border:1px solid #999; margin:0 5px 1rem 9px; }

#voice { width:96%; margin:0 auto; text-align:left; }
#voice .customer_content h3 { padding-bottom:0.3rem; border-bottom:1px dashed #630; font-size:130%; margin-bottom:0.8rem;}
#voice .customer_content .image img { width:100%; height:auto; }

#customer_info_area02_staff_area { margin-bottom:1rem; padding:10px; background:#eee;}
#customer_info_area02_staff_area_text02 { line-height:1.2rem; }
#customer_info_area02_staff_area #customer_info_area02_staff_area_left { width:40%; float:left; margin-right:1rem;}
#customer_info_area02_staff_area #customer_info_area02_staff_area_left img { width:100%; height:auto; }
#customer_info_area02_staff_area #customer_info_area02_staff_area_right { line-height:1.2rem;}

#customer_info_area02_staff_area_text01 { font-weight:600; font-size:120%; margin-bottom:0.3rem; }

.content_genbanikki_box { text-align:left; border-bottom:1px dashed #999; width:96%; margin:0 auto 1rem auto; padding-bottom:1rem;}
.content_genbanikki_box .photo { width:30%; margin-right:2%; float:left; }
.content_genbanikki_box .photo img {width:100%; height:auto;}
.content_genbanikki_box .text h3 { margin-bottom:1rem; }
.content_genbanikki_box .text h3 a { color:#000; line-height:1.4rem; font-size:120%; }
.content_genbanikki_box .text h3 a span { color:#000; line-height:1.4rem; font-weight:normal; font-size:80%; }
.content_genbanikki_box .text a p { color:#000; line-height:1.2rem; }

#single_genbanikki { width:96%; margin:0 auto 1rem auto; text-align:left;}
#single_genbanikki img { width:100%!important; height:auto; margin-bottom:0.5rem; }

#single_genbanikki h3#before_title_h3 { padding-bottom:0.3rem; border-bottom:1px dashed #630; font-size:130%; margin-bottom:0.8rem; text-align:left;}

.content_staff_single { margin-bottom:1rem; border-bottom:1px solid #ddd; }
.content_staff_single .staff_left { width:40%; float:left; margin-right:2%;}
.content_staff_single .staff_left img {width:100%; height:auto; }
.content_staff_single .staff_right { width:58%; float:left; padding-bottom:1rem;}
.content_staff_single .staff_right h3 { line-height:1.2rem; text-align:center; padding:0.3rem!important;}
.content_staff_single .staff_right table tr { border-bottom:1px dashed #ccc; display:block;text-align:left; }
.content_staff_single .staff_right table td { text-align:left; padding:0.3rem 0; line-height:1.2rem; display:inline-block; }
.content_staff_single .staff_right table th { white-space: nowrap;text-align:left; padding:0; line-height:1.2rem; display:inline-block;text-align:left;}

#contact_title,.contact_p { display:none; }

#contact_text02 { padding:0.5rem; background:#eee; line-height:1.2rem; margin-bottom:0.5rem;}
.red02 { color:#F00; font-size:80%; line-height:1rem; margin-bottom:1rem;}

#wpcf7-f2422-o1 form textarea,#wpcf7-f2422-o1 form input { width:90%; padding:0.5rem; margin-bottom:0.5rem; }

.wpcf7-radio label { display:list-item; list-style:none; margin-bottom:0.5rem; }
.wpcf7-radio input { width:20px!important; margin-top:-2px; }
#wpcf7-f2422-o1 form textarea,#wpcf7-f2422-o1 form select{ padding:0.5rem; }

.contact_text03 { font-weight:600; margin-bottom:0.5rem; }

#request_area table th,td { display:list-item; list-style:none; line-height:1.2rem; }

#request_area table tr .check01 {
	background-image: url(../page_image/form_icon01.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 60px;
	width:1%;
	white-space:nowrap;
}

#request_area table tr .check02 {
	background-image: url(../page_image/form_icon02.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 60px;
}
#request_area table tr .check03 {
	background-image: url(../page_image/form_icon01.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 60px;

}

#request_area h2 img { display:none;}
#request_area p { line-height:1.2rem; }
#request_area p.center { margin:1rem 0 2rem 0;}

nav.pagination_wrap {
	text-align: center;
	margin-top:20px;
}
nav.pagination_wrap .pagination {
	margin: 0 auto; padding:0;
}
nav.pagination_wrap .pagination li { border:1px solid #ddd; padding:10px;border-radius:3px; display:inline-block; }
nav.pagination_wrap .pagination li:first-child { border:1px solid #ddd; padding:10px;border-radius: 3px; width:10%; display:inline-block; }
nav.pagination_wrap .pagination li span.pages { width:30px!important; display:inline-block; white-space:nowrap; }
nav.pagination_wrap .pagination li span.current { display:inline-block; }
nav.pagination_wrap .pagination li a.page { display:inline-block; }
nav.pagination_wrap .pagination li a.first { width:36px!important;padding:0; display:inline-block; }
nav.pagination_wrap .pagination li:last-child {
	display: none;
}
.pagelink {
	position: relative;
	padding: 0 0 16% 0;
}
.pagelink a {
	background-color: #207b58;
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 3.5vw;
	border-radius: 3px;

}
.pagelink .pagenext, .pagelink .pageprev, .pagelink .p_archives {
	position: absolute;
}
.pagelink .pagenext, .pagelink .pageprev {
	width: 20%;
}
.pagelink .pageprev {
	left: 0;
}
.pagelink .pagenext {
	text-align: right;
	right: 0;
}
.pagelink .p_archives {
	width: 57%;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
}

/* 増改築・大型リフォーム */
#specialseko_list{ width:96%; margin:0 2% 5% 2%;}
#specialseko_list .box { width:41%; margin:0 1% 2% 1%; float:left!important; border:1px solid #ccc; padding:3%; text-align:left; }
#specialseko_list .box img { width:100%; height:auto; margin-bottom:0.5rem; }
#specialseko_list .box a { color:#000; line-height:1.2rem; margin-bottom:0.5rem;}
#specialseko_list .box .more { text-align:right; }

#special_contents { text-align:left; width:96%; margin:0 2%; }
#special_contents h2 { font-size:120%; padding:0 0 0.3rem 0; margin:0 0 0.8rem 0; border-bottom:1px solid #CCC; }

#special_contents h3.c-tit { font-size:120%; padding:0 0 0.3rem 0; margin:0 0 0.8rem 0; border-bottom:1px solid #CCC; }


#special_contents p { line-height:1.2rem;}

#special_contents .txtbox { margin-bottom:1rem; }
#special_contents .txtbox p { margin-bottom:1rem; }
#special_contents .photo { margin-bottom:1rem; }
#special_contents .photo img { width:100%; height:auto; }

#special_contents table.date { border:solid #8fc52f 2px; margin-bottom:1rem;}
#special_contents table.date th { background:#8fc52f; color:#FFF; padding:0.5rem; white-space:nowrap; vertical-align:middle; border:1px solid #fff; }
#special_contents table.date td { background:#fcf8e2; color:#000; padding:0.5rem; border:1px solid #fff; }
#special_contents .area02 { width:100%; overflow:hidden; }
#special_contents .area02 h3 { display:block; width:100%;border-right:2px solid #fadc7d;}
#special_contents .area02 h3 img { width:100%; height:auto; }
#special_contents .area02 h3.pc { display:none; }


#special_contents .area02 img { width:100%; height:auto; }
#special_contents .area02 .tanto_photo { width:20%; float:left; margin-right:2%; border:none; text-align:center; margin-left:1rem;}
#special_contents .area02 .tanto_photo img {margin-bottom:0.5rem; }
#special_contents .area02 div{ background:#fef0c1; border-left:2px solid #fadc7d; border-right:2px solid #fadc7d; padding-top:0.5rem;}
#special_contents .area02 div p { padding-left:2%; }

#special_contents .area03 img { width:100%; height:auto; }
#special_contents .area03 div.photo { width:35%; margin-right:0.5rem; float:left; margin-left:0.8rem; margin-top:0.8rem; }
#special_contents .area03 p { background:#e6f7c9; border-left:2px solid #91c738; border-right:2px solid #91c738;border-bottom:2px solid #91c738; padding:0.5rem; }
#special_contents .area03 h3.pc { display:none; }

#special_contents .area04 { margin-bottom:2rem; }
#special_contents .area04 img { width:100%; height:auto; }
#special_contents .area04 p { background:#fcf8e2; border-left:2px solid #948356; border-right:2px solid #948356; border-bottom:2px solid #948356; padding:0.5rem; }
#special_contents .area04 h3.pc { display:none; }

#special_contents .area01_left img { width:100%; height:auto; }
#special_contents .area01_right img { width:100%; height:auto; }

#special_contents .area01_left .box { background:#edead5; border-left:2px solid #938056; border-right:2px solid #938056; border-bottom:2px solid #938056;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px; margin-bottom:1rem;}
#special_contents .area01_left .box p { padding:0.8rem; }
#special_contents .area01_right .box { background:#e7f6c9; border-left:2px solid #90c52f; border-right:2px solid #90c52f; border-bottom:2px solid #90c52f;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px; margin-bottom:1rem;}
#special_contents .area01_right .box p { padding:0.8rem; }

#special_contents .zairyo {
	text-align:center;
	width:80px;
	border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
	background:#91c738; padding:0.3rem; color:#FFF; margin-bottom:0.3rem; }

#special_contents div.pic div { width:31%; float:left; margin:0 1% 2% 1%; line-height:1.2rem;}
#special_contents div.pic div img {width:100%; height:auto; margin-bottom:0.2rem; }

/* 支払い方法 */
#shiharai{ width:96%; margin:0 2% 5% 2%;}
#shiharai img { width:100%; height:auto; }
#shiharai p { line-height:1.2rem; text-align:left; margin-bottom:1rem;}
#shiharai h3 img { margin-bottom:0.5rem; }

#shiharai .sp_genkin_bnr { width:48%; margin-right:4%; float:left; margin-bottom:1rem; }
#shiharai .sp_loan_bnr { width:48%; float:left; margin-bottom:1rem; }
#shiharai .sp_dentaku  { width:20%!important; margin-left:2%!important; float:right!important; margin-bottom:1rem!important; }
#shiharai .sp_loan_tit { margin-bottom:0.5rem; }
#shiharai .mb20 { margin-bottom:0.5rem;}

#shiharai .f_left { width:48%; margin-right:4%; float:left; margin-bottom:1rem; }
#shiharai .f_right{ width:48%; float:left; margin-bottom:1rem; }

/* メリット */
#merit_page { width:96%; margin:0 2% 5% 2%;}
#merit_page img { width:100%; height:auto; }
#merit_page p { line-height:1.2rem; text-align:left; margin-bottom:1rem;}
#merit_page ul.style02 { list-style-type:circle; border-top:1px dotted #963; margin-bottom:1rem; }
#merit_page ul.style02 li { list-style-type:circle; list-style-position:inside; border-bottom:1px dotted #963; text-align:left; padding:0.5rem; color:#337ebf; }
#merit_page ul.style03 { list-style-type:circle; border-top:1px dotted #963; margin-bottom:1rem; }
#merit_page ul.style03 li { list-style-type:circle; list-style-position:inside; border-bottom:1px dotted #963; text-align:left; padding:0.5rem; color:#5da316; }

#merit_page #merit_demerit { width:100%; }

#merit_page a.tatsuken_jp{ padding:10px; text-align:center; background:#F63; display:block; width:80%; margin:0 auto; color:#FFF;border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */ line-height:1.2rem; }



#merit_page .demerit a { display:block!important; margin:0 auto; width:80%; }
#merit_page .demerit a img { width:100%; height:auto; }
#merit_page .demerit a:hover img { display:none; }
#merit_page .new_box { width:49%; float:left; margin-bottom:1rem; margin-right:2%; text-align:left; background-color:#feffcb;}
#merit_page .reform_box { width:49%; float:left; margin-bottom:1rem; text-align:left;  background-color:#eafccf;}

#merit_page .sp_merit_tit,#merit_page .sp_demerit_tit { width:40%; height:auto; margin-bottom:0.5rem; }
#merit_page .reform_box_inner { padding:0.5rem; max-height:630px; }
#merit_page .new_box_inner { padding:0.5rem; max-height:630px; }

#merit_page .reform_box_inner ul { list-style-type:circle; border-top:1px dotted #963; margin-bottom:1rem;}
#merit_page .reform_box_inner ul li { list-style-type:circle; list-style-position: inside;border-bottom:1px dotted #963; text-align:left; padding:0.5rem; padding-left:-0.8rem; line-height:1rem;text-indent:-1em;padding-left:1em; }
#merit_page .new_box_inner ul { list-style-type:circle; border-top:1px dotted #963; margin-bottom:1rem;}
#merit_page .new_box_inner ul li { list-style-type:circle; list-style-position: inside;border-bottom:1px dotted #963; text-align:left; padding:0.5rem; padding-left:-0.8rem; line-height:1rem;text-indent:-1em;padding-left:1em; }
#merit_page .jirei_img_before { width:49%; float:left; margin-bottom:1rem; margin-right:2%; }
#merit_page .jirei_img_after { width:49%; float:left; margin-bottom:1rem;}

/* メディア */
#media_page { width:96%; margin:0 2% 5% 2%; overflow:hidden; }
#media_page img { width:100%; height:auto; }
#media_page .shosai_zoom div { width:49%; float:left; height:auto; }
#media_page .shosai_zoom div img:nth-child(1) { display:none!important;}

/* セカンドライフ */
#secondlife { width:96%; margin:0 2% 5% 2%; }
#secondlife h3 { margin-top:1rem; }
#secondlife img { width:100%; height:auto; }
#secondlife p { line-height:1.2rem; text-align:left; margin-bottom:1rem;}

#secondlife .susume_box { text-align:left; }
#secondlife .susume_box h4 img { float:none!important; text-align:left!important; width:auto; height:30px;}
#secondlife .susume_box img { width:48%; margin-right:2%; float:left; }
#secondlife .omakase_box { padding:0.8rem; border:3px solid #90c52f; text-align:left; }
#secondlife .omakase_box img {  width:auto; height:26px; }
#secondlife .sp_jirei_tit { margin:1rem 0; }
#secondlife .mb20 { margin-bottom:0.5rem;}

#secondlife table.jirei_t { border:solid #8fc52f 2px; margin-bottom:1rem; text-align:left;}
#secondlife table.jirei_t th { background:#8fc52f; color:#FFF; padding:0.5rem; white-space:nowrap; vertical-align:middle; border:1px solid #fff; }
#secondlife table.jirei_t td { background:#fcf8e2; color:#000; padding:0.5rem; border:1px solid #fff; }

#secondlife a { text-align:center; display:block; margin:0 auto 0 auto; width:50%;}
#secondlife a img { width:100%; height:auto;}

#secondlife .sp_jirei_more { margin-bottom:0!important; }
#secondlife a.more { padding:10px; text-align:center; background:#86663e; display:block; width:80%; margin:0 auto; color:#FFF;border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */ line-height:1.2rem; }

/* お風呂リフォーム */
#reform201502 { width:96%; margin:0 2% 5% 2%; }
#reform201502 img { width:100%; height:auto; }
#reform201502 p { line-height:1.2rem; text-align:left; margin-bottom:1rem;}
#reform201502 ul li.col2 { width:48%; margin:0 1%; float:left; }
#reform201502 ul li.col3 { width:31%; margin:0 1%; float:left; }
#reform201502 .mainPack { margin-bottom:1rem; }
#reform201502 .points ul {  }
#reform201502 .points ul li.pont1 { background: url(/wp-content/themes/sp/page_image/bg_5points01.png) 0 0 no-repeat; background-size:160% auto; padding:57px 8px 0 8px; text-align:left; border:1px solid #90c52f; line-height:1rem; font-size:80%; margin-bottom:5px;}
#reform201502 .points ul li.pont2 { background: url(/wp-content/themes/sp/page_image/bg_5points02.png) 0 0 no-repeat; background-size:160% auto; padding:57px 8px 0 8px; text-align:left; border:1px solid #90c52f; line-height:1rem; font-size:80%; margin-bottom:5px;}
#reform201502 .points ul li.pont3 { background: url(/wp-content/themes/sp/page_image/bg_5points03.png) 0 0 no-repeat; background-size:160% auto; padding:57px 8px 0 8px; text-align:left; border:1px solid #90c52f; line-height:1rem; font-size:80%; margin-bottom:5px;}
#reform201502 .points ul li.pont4 { background: url(/wp-content/themes/sp/page_image/bg_5points04.png) 0 0 no-repeat; background-size:160% auto; padding:57px 8px 0 8px; text-align:left; border:1px solid #90c52f; line-height:1rem; font-size:80%; margin-bottom:5px; }

/* スタッフ募集 */
#recuite_content { width:96%; margin:0 2% 5% 2%; text-align:left; line-height:1.2rem;}
#recuite_content img { width:100%; height:auto; }
#recuite_content p { line-height:1.2rem; text-align:left; margin-bottom:1rem;}
#recuite_content h2 { margin-bottom:1rem; }

#recuite_content table b { border-bottom:solid #8fc52f 1px; margin-bottom:0.5rem; text-align:left; padding:0 0 0.3rem 0; width:100%; display:block; margin-top:1rem;}
#recuite_content table iframe { width:100%; height:200px; }

#recuite_content .recruit02 table { border-top:1px solid #d5d0be;border-left:1px solid #d5d0be; margin-bottom:1rem;}
#recuite_content .recruit02 table td { border-bottom:1px solid #d5d0be;border-right:1px solid #d5d0be; padding:10px; display:table-cell;}
#recuite_content .recruit02 table td.big_midashi { background:#e9e7d7;font-weight:600;}
#recuite_content .recruit02 table td.sub_midashi { background:#fdefdf;font-weight:600;}
#recuite_content .recruit02 table td.sub_midashi span { color:#F60; font-weight:bold; }
#recuite_content .recruit02 table td.mini_midashi { background:#f1efe5; width:30%;}
.scr { text-align:right; margin-bottom:1rem; float:right; display:block;}

#recuite_content .recruit03 { background:#f1efe5; padding:10px;}

.recruit_style01 { color:#F60; font-weight:bold; font-size:120%; }

/* 給湯器 */
#kyuto_page { width:96%; margin:0 2% 5% 2%; text-align:left; line-height:1.2rem; }
#kyuto_page img { width:100%; height:auto;}


/*#recuite_content .recruit02 table td#re_table01 { background:#e9e7d7; }
#recuite_content .recruit02 table { border:1px #d5d0be solid; }
#recuite_content .recruit02 table td { padding:10px 0; float:left; width:70%;}
#recuite_content .recruit02 table td b { border:none; background:#fdefdf; padding:10px;}
#recuite_content .recruit02 table td.sp_midashi { background:#f1efe5; width:30%;}*/

#staff_arc { width: 95%;margin:8% auto 0;padding:0 2.5%;}
#staff_arc .people_area{margin:0 auto; }
#staff_arc .people_area .people {width:50% ; text-align:center; margin: 0 auto 20px;float:left;}
#staff_arc .people .pict { margin-bottom:10px; }
#staff_arc .people .pict img {border-radius: 50%;/* CSS3草案 */-webkit-border-radius: 50%;/* Safari,Google Chrome用 */-moz-border-radius: 50%;/* Firefox用 */ width:92%; height:auto; }
#staff_arc .people a img:hover { opacity: 0.8 ; }
#staff_arc .people .name { font-size:140%;line-height:1.2rem; margin-top:5%; }

#staff_single .staff_date { position:relative; margin:0 auto 10%; width:96%;}
#staff_single .main .staff_parts { position:absolute; bottom:0; left:0; background-color: rgba( 168, 218, 128, 0.6 );color: #fff; padding:3% 8%; text-align:left; }
#staff_single .main .staff_parts .position { border-bottom:1px solid #fff; width:100%; font-weight:bold; line-height:1.6; margin-bottom:0.4em; max-width:240px; }
#staff_single .main .staff_parts .name { width:100%; font-weight:bold; font-size:200%;}
#staff_single .main .staff_parts .kana { width:100%; font-weight:bold; font-size:100%; }
#staff_single .main img { width:94%;height:auto;box-shadow:20px 16px 0px 5px rgba(168,213,128,1);}
#staff_single table { width:100%;border-collapse: collapse;  border-spacing: 0; line-height: 1.5;}
#staff_single th,td { text-align:left; padding:4% 2%; }
#staff_single th { padding-left:2%; width: 26%;}
#staff_single tr:nth-of-type(odd) { background-color:#fff6c6; }

/* プラン */
#plan .mainPack{
	margin-bottom: 10px;
}
#plan .mainPack img{
	width: 100%;
}
#plan .box{
	margin:0 2% 2rem;
	 overflow:hidden;
	 font-family: Helvetica,Arial, "Roboto", "Droid Sans", "游ゴシック", "YuGothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN", "メイリオ","Meiryo", sans-serif;
 }
#plan .box:nth-child(2n+1)  {

}
#plan .box .pict { text-align:center; background:#eee; }
#plan .box .pict img { height:250px; width:auto; }
#plan .box .text {
  position:relative;
  text-align: left;
 }
#plan .box p{
	margin: 0;
}

#plan .box .text #burst-12 {
    background:#ffdd00;
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
	top:3px;right:15px;
}
#plan .box .text #burst-12:before, #plan .box .text #burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background:#ffdd00;
}
#plan .box .text #burst-12:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#plan .box .text #burst-12:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}

#plan .box .text #burst-12 p {
	position:absolute;top:24%;
	left:6%;
	z-index:1;
	text-align:center;
	font-size:386%;
	font-weight:600;
	color:#F30;
	line-height:1.8rem;
 }
#plan .box .text #burst-12 p span { font-size:50%; font-weight:600; color:#000; }

#plan .maker {
	font-size: 14px;
	background:#8ec42f;
	border-radius: 3px;
	padding:0.5% 0.5% 0.5% 2%;
	text-align:left;
	margin-top:1rem;
	color:#FFF;
	font-weight:600;
	margin-bottom:0.5rem;
  padding: 5px;
}

#plan .data {
	width:70%;
	font-size: 14px!important;
	line-height:1.4rem;
	padding-bottom:1%;
}
#plan .teika {
	width:100%;
	padding:4% 0;
	border-top:1px dashed #999;
	font-size: 14px!important;
	line-height:1.6rem;
}
#plan .teika span { font-size:140%; font-weight:600; color:#d80020; }

#plan .itemmoney p {
	padding:0 0 4% 0!important;
	line-height:1.4rem;
	text-align:right;
	font-size:138%!important;
	font-weight:600;
}
#plan .itemmoney p span { font-size:350%; font-weight:600; color:#d80020; }
